<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="form-div">
            <h1>Create User</h1>
            <form action="/create" method="post">
                <input class="insert-info" type="text" name="name" placeholder="Enter Name" > <br>
                <input class="insert-info" type="text" name="email" placeholder="Enter Email" > <br>
                <input class="insert-info" type="text" name="image" placeholder="Image-url" > <hr>
                <input class="submit" type="submit" value="Create User">
                <a href="/read">Go to read users</a>
            </form>
        </div>
    </div>
</body>
</html>